* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(207, 207, 204);
  background: linear-gradient(
    180deg,
    rgba(207, 207, 204, 0.9632586310891544) 0%,
    rgb(70, 69, 69) 100%
  );
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
}
header h1 {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
nav {
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
ul {
  list-style: none;
  padding: 1.2rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
li {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  margin: 10px 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 550;
}
a {
  text-decoration: none;
  color: rgba(146, 121, 59, 0.63);
}
nav ul a:hover {
  opacity: 0.5;
  text-decoration: solid;
  display: block;
}
footer {
  position: relative;
  display: relative;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
/* CSS Index - Home */
/*video en pequeño, imagen proximo disco */
.indexyt {
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  padding-left: 10rem;
  padding-bottom: 1rem;
  display: flex;
}

/* CSS Bio*/
section .bio p,
img {
  border: 1px rgba(146, 121, 59, 0.63);
  padding: 10px 25px;
  text-align: start;
  font-size: 1.2rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
section .musicalstyle p {
  border: 1px rgba(146, 121, 59, 0.63);
  padding: 10px 25px;
  text-align: start;
  font-size: 1.2rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
section .musicalstyle h3 {
  padding: 10px 25px;
  text-align: start;
  font-weight: 400;
}

/* Gear */
.grid-container {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: center;
}
.fredrikGear,
h2 {
  display: grid;
  padding: 1rem 2rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
.fredrikimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.martenGear,
h2 {
  display: grid;
  padding: 15px 15px;
  word-wrap: normal;
  width: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
.martenGear .martenimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dickGear,
h2 {
  display: grid;
  padding: 10px 25px;
  word-wrap: normal;
  width: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
.dickGear .dickimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tomasGear,
h2 {
  display: grid;
  padding: 10px 25px;
  word-wrap: normal;
  width: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
  overflow: auto;
}
.tomasGear .tomasimg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.jensGear,
h2 {
  display: grid;
  padding: 10px 25px;
  word-wrap: normal;
  width: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
.jensGear .jensimg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-template-areas:
      "main"
      "nav"
      "grid-container"
      "fredrikGear"
      "fredrikimg"
      "martenGear"
      "martinimg"
      "dickGear"
      "dickimg"
      "tomasGear"
      "tomasimg"
      "jensGear"
      "jensimg";
  }
}
/* CSS Merch */
/* Flexbox camisetas, posters, merch*/

/* CSS Galery */
main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}
main .container {
  text-align: center;
  text-decoration: solid;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
main h2 {
  text-align: center;
}

/* CSS About us */
fieldset {
  margin: auto;
  padding: 20px;
  font-size: 1rem;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 400;
}
